{% extends '_base.html' %}

{% block title %}
Car List
{% endblock title %}

{% block content %}
{% if car_list %}
<div class="container my-4">
  <div class="row">
{% for car in car_list %}
    <div class="col-md-3">
      <div class="card mb-4">
        <img src="{{ car.image.url }}" class="card-img-top" alt="Car Image">
        <div class="card-body">
          <h5 class="card-title">{{car.name}}</h5>
          <p class="card-text">Starting from $50/day</p>
          <a href="{% url 'car-detail' pk=car.pk %}" class="btn btn-primary">Rent Now</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>

  {% else %}
    <i>Currently No Cars available for rent!!!!</i>
{% endif %}


{% endblock%}